#Welcome{
  color: green;
}

.stylesheet{
  color:purple;
}

.stylesheet{
  background-color: yellow;
  color: red;
  display: inline-block;
  list-style: none;
}

.active{
  background-color: pink;
}
