.header {
  width: 100%;
  height: 100px;
  display: inline-flex;
}

.container-fluid {
  width: 95%;
  margin: 0 auto;
}

.headerright {
  width: 50%;
  height: 100px;
  float: left;
}

.headerleft {
  width: 50%;
  height: 100px;
  float: left;
}

.logo {
  width: 60%;
  display: inline-block;
  margin-top: 10px;
}

.logo h1 a {
  color: #2f2f2f;
  font-size: 1em;
  text-decoration: none;
  font-weight: 900;
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: bolder;
}

.logo h1 a span {
  color: #82b62d;
  font-size: .5em;
  text-decoration: none;
  font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0;
}

.headerrighttop {
  width: 100%;
  height: 40px;
  display: inline-block;
  line-height: 45px;
}

.headerrighttop ul {
  list-style: none;
  display: inline-block;
  float: left;
  margin-top: 10px;
  margin-left: 56%;
}

.headerrighttop ul li {
  display: inline-block;
  margin-right: 20px;
  color: gray;
}

.headerrighttop ul li a {
  color: gray;
}

.headerrightbot {
  width: 100%;
  height: 60px;
  float: left;
}

.navbar-nav {
  width: 110%;
}

.nav-link {
  font-size: 18px;
  display: inline-block;
  margin-right: 20px;
}

#homebutton {
  color: green;
  margin-right: 20px;
}

.nav-item {
  margin-left: 25px;
}

#lastbutton {
  margin-left: 25px;
  margin-right: 15%;
}

.navbar-nav li i {
  display: inline-block;
  margin-right: 15px;
  line-height: 45px;
}

.navbar-nav li a {
  color: black;
}

.mainbanner {
  background-image: url('images/1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 1100px;
}

#bannertxt {
  text-align: center;
  color: white;
  margin-top: 25%;
}

#bannertxt #varius {
  font-weight: bold;
  letter-spacing: 8px;
  font-size: 30px;
}

#bannertxt h3 {
  color: #FFFFFF;
  font-size: 5em;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
}

#bannerareatxt {
  font-size: 16px;
}

#buttonmore {
  padding: 10px 40px;
  background-color: #2eb52e;
  color: white;
  border: none;
  margin-top: 20px;
  font-size: 20px;
  display: inline-block;
  font-weight: bold;
}

#circle {
  width: 15px;
  height: 15px;
  border: 1px solid #2eb52e;
  background-color: #2eb52e;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10%;
}

#circle1 {
  width: 15px;
  height: 15px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10%;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
}

.welcome h2 {
  color: #212121;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4%;
  padding-bottom: 2%;
}

.welcometoptxt {
  width: 90%;
  height: 500px;
  margin-left: -15px;
}

#welcomecontenttitle {
  color: #000000;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 4px;
  margin: 0;
}

#welcomecontent {
  color: gray;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
}

#welcometopimg {
  background-image: url('images/2.jpg');
  width: 95%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

#welcometopimg1 {
  background-image: url(images/3.jpg);
  width: 95%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 0;
}

#welcomecontent1 {
  color: gray;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  float: right;
}

.welcometoptxt1 {
  width: 90%;
  height: 500px;
  float: right;
}

.services {
  background: #f0f5f8;
  width: 100%;
  height: 600px;
}

.services h2 {
  color: #212121;
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 7px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  padding-top: 4%;
  padding-bottom: 4%;
}

#servicesicon {
  text-align: center;
}

#servicesicon i {
  width: 60px;
  height: 60px;
  background-color: white;
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
  color: #2eb52e;
}

#servicesicon h3 {
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
}

#servicesicon span{
  color: #999999;
}
