.bigwrapper{
  width: 100%;
  height: 1000px;
}

.wrapper{
  width: 100%;
  height: 800px;
  background-color: yellow;
  position: relative;
}

#popup{
  position: absolute;
  width: 30%;
  height: 500px;
  background-color: green;
  top: 120px;
  left: 100px;
}
