
<div class="container">
  <h1>Login Form</h1>
  <div *ngIf="status; else NoiDungElse" **ngIf="email == 'cybersoft' " ***ngIf="password == 'cybersoft' ">
    <p><b>Email</b></p>
    <input type="text" #email>
    <p><b>Password</b></p>
    <input type="password" #password>
    <p></p>
    <button type="button" class="btn-success" name="button" #login (click)=DangNhap()>Login</button>
  </div>
  <ng-template #NoiDungElse>
    <div class="container">
      <h3>Xin Chao Cybersoft</h3>
    </div>
  </ng-template>
</div>
